*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:
    linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854?auto=format&fit=crop&w=1600&q=80');
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    color:white;
}

.container{
    max-width:1100px;
    margin:auto;
    padding:30px 20px;
}

.hero{
    background:rgba(0,80,0,0.75);
    padding:40px;
    border-radius:20px;
    text-align:center;
    backdrop-filter: blur(4px);
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

h1{
    color:#0b3d0b;
    margin-bottom:10px;
}

h2{
    color:#9cff9c;
    margin-bottom:25px;
}

p{
    line-height:1.8;
}

.destaque{
    margin-top:25px;
    font-size:1.3rem;
    font-style:italic;
    color:#d8ffd8;
    font-weight:bold;
}

button{
    margin-top:25px;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#7CFC00;
    color:#003300;
    font-weight:bold;
    cursor:pointer;
    transition:0.4s;
}

button:hover{
    transform:translateY(-3px);
    background:#9fff32;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

#extraTexto{
    max-height:0;
    overflow:hidden;
    transition:max-height 0.8s ease;
    margin-top:15px;
}

section{
    background:rgba(0,60,0,0.75);
    margin-top:25px;
    padding:25px;
    border-radius:15px;
    backdrop-filter: blur(4px);
}

section h3{
    margin-bottom:15px;
    color:#b8ffb8;
}

ul{
    padding-left:20px;
}

li{
    margin:10px 0;
}

.quiz{
    margin-top:20px;
}

.pergunta{
    background:rgba(255,255,255,0.08);
    padding:15px;
    border-radius:10px;
    margin-bottom:15px;
}

.pergunta h4{
    color:#ccffcc;
    margin-bottom:8px;
}

.quiz-final{
    text-align:center;
    font-size:1.2rem;
    margin-top:20px;
    color:#e8ffe8;
    font-weight:bold;
}

footer{
    text-align:center;
    padding:25px;
    margin-top:30px;
    background:rgba(0,40,0,0.85);
}

@media(max-width:768px){
    .hero{
        padding:25px;
    }
    h1{
        font-size:1.8rem;
    }
    h2{
        font-size:1.1rem;
    }
}